---
/**
 * This just renders the three stacked bars (the "hamburger" icon).
 * We'll toggle the .expanded class on the nav when clicked.
 */
---
<div class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>
  